.person-details {
  margin-left: 30px;
  width: 350px;
  height: 150px;
  border-radius: 5px;
}


.person-details img {
  padding: 5px;
  height: 150px;
  border-radius: 10px;
  width: 150px;
}

.person-details .description {
  margin-left: 10px;
  padding-top: 10px;
}